* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
/* Header */
.header {
    display: flex;
    justify-content: space-around;
}
.header__brand {
    display: flex;
    flex-direction: column;
}
.header__navbar {
    /* height: 2rem; */
    padding: 0.7rem;
}
.brand__company-name {
    color: red;
    font-size: 3rem;
    text-decoration: none;
}
.brand__slogan {
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-left: 1rem;
}
.navbar__menu li {
    display: inline-block;
    margin-right: 10px;
}

.navbar__menu li > a {
    text-decoration: none;
    color: #95c9ff;
}
.navbar__menu li.active > a {
    color: red;
}
.navbar__menu li:hover > a {
    color: red;
}
/* End Header */

/* Banner */
.banner {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2rem;
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 7rem;
}
.banner__describe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.banner__describe > h1,
.banner__describe > p {
    background-color: rgba(116, 125, 134, 0.8);
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #282727;
}
.banner__describe > h1 {
    margin-bottom: 2rem;
}
.banner__describe > p {
    margin-bottom: 1rem;
}
/* End Banner */

/* Aboutus */
.aboutus {
    /* height: 250px; */
    padding: 2rem 3rem;
    background-color: #3ac0ff;
}
.aboutus > h2 {
    color: #314266;
    margin-bottom: 1rem;
    background-color: #72afc8;
    width: fit-content;
    font-weight: 400;
}
.aboutus > p {
    color: #bed1e9;
}
/* End Aboutus */

/* Welcome */
.welcome {
    padding: 3rem 2rem;
}
.welcome__title {
    text-align: center;
    font-weight: 400;
}
.welcome__describe {
    text-align: center;
    color: #adaeb3;
}
.welcome__list-activity {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 1rem;
}
.list-activity__item {
    height: 350px;
}
.list-activity__item__content {
    padding: 1rem 0;
}
.list-activity__item__content__describe {
    padding: 1rem 2rem;
}
.content__title__icon {
    width: 1rem;
    margin-left: 0.5rem;
}
.list-activity__item__content__title {
    color: red;
    font-weight: 400;
}
.list-activity__item__content__describe {
    color: grey;
}

/* End Welcome */

/* Our Works */
.ourworks {
    padding: 3rem 2rem;
}
.ourworks__title {
    text-align: center;
    font-weight: 400;
}
.ourworks__list {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}
/* End Our Works */

/* Success with us */
.succeedwithus {
    padding: 3rem 2rem;
}
.succeedwithus__title {
    text-align: center;
    font-weight: 400;
}
.succeedwithus__content {
    padding: 1rem 0;
    display: flex;
}
.succeedwithus__content__left {
    flex-basis: 50%;
}
.succeedwithus__content__left__title {
    font-weight: 400;
    margin-bottom: 0.6rem;
}
.succeedwithus__content__left__list {
    margin-bottom: 1.5rem;
}
.succeedwithus__content__left__list > li {
    list-style-type: none;
    color: grey;
}
.succeedwithus__content__right {
    flex-basis: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.succeedwithus__content__right__list{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.4);
}
.succeedwithus__content__right__list > li {
    color: #3BC4FF;
}
.succeedwithus__content__right__list > li>span{
    color: #fff;
}
/* End Success with us */

/* Footer */
.footer{
    display: flex;
    background-color: #252525;
    color: #fff;
    padding: 3rem 4rem;
    gap: 1rem;
}
.footer>div{
    flex-basis: 25%;
}
.footer a,
.footer p{
    color: #3E5663;
    text-decoration: none;
}
.footer ul>li{
    list-style-type: none;
}
.footer__title{
    margin-bottom: 1rem;
}
.footer__search{
    display: flex;
}
.footer__search__input{
    padding: 0.7rem 2rem;
    font-size: 1rem;
    display: inline;
    padding-right: 0px;
    border: none;
    border-radius: 0.2rem 0rem 0rem 0.2rem;
    outline: none;
}
.footer__search__button{
    background-color: #EB5424;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 0rem 0.2rem 0.2rem 0rem;
    outline: none;
    cursor: pointer;
}
.footer__author-name{
    color: #EB5424;
}
/* End Footer */