* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* html{
    font-size: 16px;
} */
/* common */
.text--gray {
    color: rgba(128, 128, 128, 0.877);
}
.text--center{
    text-align: center;
}
.item__img{
    min-height: 350px;
}
.common_button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #82b62d;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 700;
}
/* End common */
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
}
.brand {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
.brand__company_name {
    color: #82b62d;
    font-size: 0.8rem;
}
.header__left {
    display: flex;
    align-items: center;
    flex-basis: 20%;
}
.header__right {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.header__right__contact {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    color: #ccc;
}
.header__right__menu {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}
.common__menu > li,
.social__menu > li {
    display: inline;
}
.common__menu > li {
    padding: 0.7rem;
}
.social__menu > li {
    padding: 0.4rem;
}
.common__menu > li > a,
.social__menu > li > a {
    text-decoration: none;
    color: #000;
}
.common__menu li.active > a {
    color: rgb(197, 21, 21);
}

/* Carousel */
.carousel{
    position: relative;
}
.carousel__item {
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.carousel__item__content {
    width: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 5rem;
}

.carousel__item__h6 {
    font-size: 2rem;
}
.carousel__item__title {
    font-size: 5rem;
}
.carousel__item__describe {
    line-height: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}
.carousel__item__button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #82b62d;
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: 700;
}
.carousel__arrow{
    position: absolute;
    right: 1rem;
    bottom: -0.5rem;

}
/* End Carousel */

/* Welcome */
.welcome {
    padding: 3rem 4rem;
    position: relative;
}
.welcome__title {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}
.welcome__content {
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
}
.welcome__content__item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}
.welcome__content__item.item_1 {
    grid-column: 1 / span 3;
}
.welcome__content__item.item_2 {
    grid-column: 4 / span 2;
}
.welcome__content__item.item_3 {
    grid-column: 1 / span 2;
}
.welcome__content__item.item_4 {
    grid-column: 3 / span 3;
}
.welcome__content__item__title {
    font-size: 1.5rem;
    font-weight: 600;
}
.welcome__content__item__describe {
    color: rgba(128, 128, 128, 0.877);
}
.welcome__arrow{
    position: absolute;
    right: 1rem;
    top: 45%;
}
.item__img{
    min-height: 350px;
}
/* End Welcome */


.services {
    padding: 3rem 4rem;
    background-color: #f0f5f8;
    position: relative;
}
.services__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;
}
.services__content {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}
.services__content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.services__content__item__icon {
    color: #82b62d;
    background-color: #fff;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
}

.services__content__item__title {
    font-size: 1rem;
}
.services__content__item__describe {
    color: rgba(128, 128, 128, 0.877);
}

.services__arrow{
    position: absolute;
    top: 45%;
    right: 1rem;
}

/* News */
.news {
    padding: 3rem 4rem;
    position: relative;
}
.news__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}
.news__content {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
}
.news__content__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
}
.news__content__text__icon_area {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}
.news__content__text__title {
    font-size: 2.5rem;
    width: 40rem;
    padding-left: 2rem;
    font-weight: 500;
}
.news__arrow{
    position: absolute;
    top: 45%;
    right: 1rem;
}
/* End News */

/* join_the_club */
.join_the_club {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    position: relative;
}
.join_the_club__title {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
    text-align: center;
}

.join_the_club__search {
    display: flex;
    gap: 0.2rem;
}
.join_the_club__search__input {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    width: 25rem;
}
.join_the_club__search__button {
    border-radius: 0;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.join_the_club__arrow{
    position: absolute;
    top: 45%;
    right: 1rem;
}

/* End join_the_club */
/* Footer */
.footer {
    display: flex;
    gap: 2rem;
    padding: 3rem;
    position: relative;
}
.footer p {
    color: rgba(128, 128, 128, 0.877);
}

.footer__history {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}
.footer__twitter_posts {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}
.footer__event {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.7rem;
}
.footer__navigation {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.footer__navigation li {
    list-style-type: none;
    line-height: 2rem;
}
.footer__navigation li > a {
    text-decoration: none;
    color: #000;
}
.footer__arrow{
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}

.footer_bottom {
    background-color: #000;
    color: #fff;
    padding: 1.5rem 0;
    font-weight: 400;
    position: relative;
}
.footer_bottom span{
    color: #82b62d;
}
.footer_bottom__arrow{
    position: absolute;
    right: 0;
    bottom: .7rem;
}
/* End Footer */
