*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
.text--center{
    text-align: center;
}
.text--white{
    color: #fff;
}
.text--green{
    color: #38CDCE;
}
/* End Common */

/* Header */
.header{
    display: flex;
    background-color: rgba(25, 25, 25, 0.8);
    justify-content: space-between;
    padding: .8rem;
}

.header__brand{
    text-decoration: none;
    font-size: 3rem;
}

.header__menu{
    
}
.header__menu li{
    display: inline-block;
    line-height: 3rem;
    margin-right: 1rem;
    border-bottom: #fff solid 2px;

}
.header__menu li>a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

/* End Header */